.bodyIIs {
    height: 100%;
    margin: 0;
}

.img1I {
    opacity: 0.65;
    width: 100vw;
    height: 91vh;
}

.infos {
    position: absolute;
    top: 65%;
    left: 5%;
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 219, 236);
    border-radius: 5px;
    padding: 1%;
}

.title {
    font-weight: bold;
    text-align: center;
}

.details {
    font-size: 0.8em;
}

.info1 {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify;
}

.img2II {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/summer/IIe/barrieres.jpg);
    min-height: 100vh;
}

.info2 {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify;
}

.img3II {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/summer/IIe/marathon.jpg);
    min-height: 100vh;
}

.info3 {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify;
}

.img4II {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/summer/IIe/vitesse.jpg);
    min-height: 100vh;
}

.info4 {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify;
}

.img5II {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/summer/IIe/escrime.jpg);
    min-height: 100vh;
}

.info5 {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify;
}

.img6II {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/summer/IIe/foot.jpg);
    min-height: 100vh;
}

.info6 {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify;
}

.img7II {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/summer/IIe/corde.jpg);
    min-height: 100vh;
}